<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DIGITAL | Login Page</title>
    <link href="/static/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <div class="login-container">
        <div class="login-box">
            <h2>DIGITAL MATURITY| Login</h2>
            <form action="/login" method="POST">
                <div>
                    <i class="fas fa-envelope fa-2x"></i>
                    <input type="email" class="input" id="email" placeholder="Enter email" name="email"
                    placeholder="Enter your email">
                </div>
                <br><br>


                <div>
                    <i class="fas fa-user-plus fa-2x"></i>
                    <select name="users" id="cars" class="input" required>
                        <option value="disabled">Select a user type</option>
                        <option value="Business Analyst">Business Analyst</option>
                        <option value="Business Manager">Manager</option>
                        <option value="Administrator">Administrator</option>
                    </select>
                </div>
                <br><br>
                <div>
                    <i class="fas fa-lock fa-2x"></i>
                    <input type="password" class="input" id="password" placeholder="Enter password" name="password"
                        required>
                </div><br><br>
      
                <button type="submit" class="btn">Login</button>

                <div class="links">
                    <p><a href="/requestPasswordChange" >Forgot Password ?</a>| <a href="/register">Register ?</a></p> 
                </div>
             
            </form>
          

            <div>
                {% if error %}
                <p class="error">{{ error }}</p>
                {% endif %}
            </div>

        </div>
    </div>
</body>
</html>
