<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DM | Welcome</title>
    <link href="/static/css/style.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/static/images/JBS-retina-copy.png.webp">
    <script src="/static/js/code.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
</head>

<body x-data="AutomatedDigitalMaturity" x-cloak>
    <main class="container">
        <section>
            <div class="dashboard_main_admin">
                <h1 class="item"><a href="/select_business_sector_user" class="item" style="float: right;">USER CONTROL PANEL</a></h1>
                <button class="create_user" x-on:click="openUserAccount('enter_unique_code')">ENTER UNIQUE CODE</button>
                <button class="create_user" x-on:click="openUserAccount('user_instructions')">INSTRUCTIONS</button>
                <a href="/logout" class="item" style="float: right;">SIGN OUT</a>
            </div>
        </section><br>

        <section>
            <div class="userAccountParent">
                <div class="userAccount_left">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident animi labore optio,
                    exercitationem magnam blanditiis necessitatibus explicabo natus nam perspiciatis ipsam veritatis
                    debitis deserunt suscipit ut soluta neque voluptates? Iste?
                </div>

                <div class="get_started" x-show="get_started">
                    <table class="item">
                        <tr>
                            <td>S/N</td>
                            <td>ACTION</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>SELECT AND SUBMIT A BUSINESS SECTOR</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>COPY AND SAVE YOUR UNIQUE CODE</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>ANSWER THE "AS IS" AND "TO BE"</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>SUBMIT THE ANSWERS</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>CLICK ON THE "ENTER UNIQUE CODE BUTTON"</td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>ENTER AND SUBMIT THE COPIED UNIQUE CODE IN THE TEXT FIELD</td>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td>CLICK ON THE "VIEW FEEDBACK ANALYSIS"</td>
                        </tr>
                    </table>

                    <button class="create_user" style="float: right;" x-on:click="openUserAccount('select_your_business_sector')">GET STARTED</button>

                    <!-- Error Message Section -->
                    {% if error_message %}
                    <section>
                        <p class="error">{{ error_message }}</p>
                    </section>
                    {% endif %}
                </div>

                <div x-show="select_your_business_sector" class="get_started">
                    <br><br>
                    <form action="/select_business_sector_user" method="post">
                        <select name="business_sector_user" class="input">
                            <option value="" disabled selected>Select a business sector</option>
                            {% for sector in business_sectors %}
                            <option value="{{ sector[0] }}">{{ sector[0] }}</option>
                            {% endfor %}
                        </select>
                        <button type="submit" class="submit-btn">Submit</button>
                    </form>

                    <div>
                        {% if BusinessError %}
                        <p class="error">{{ BusinessError }}</p>
                        {% endif %}
                    </div>
                </div>

                <div x-show="enter_unique_code" class="get_started">
                    <form action="/submit_unique_code" method="POST">
                        <h1>UNIQUE CODE:</h1>
                        <input type="text" class="input" name="unique_code_user"
                            placeholder="Please enter your unique maturity code" value="">
                        <button type="submit" class="submit-btn">SUBMIT CODE</button>
                    </form>
                </div>
            </div>
        </section><br><br>

        <!-- Provides guidelines for the answers  -->
        <section>
            <table style="background-color: black;">
                <thead>
                    <tr>
                        <td>Basic</td>
                        <td>Reactive</td>
                        <td>Planned</td>
                        <td>Proactive</td>
                        <td>Resilient</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>An organisation's business strategies do not include Industry 4.0 and no roadmaps have been outlined.</td>
                        <td>Business strategies include Industry 4.0, but no roadmaps have been outlined</td>
                        <td>Business strategies include Industry 4.0 and roadmaps have been outlined. However, there are no action plans towards implementation.</td>
                        <td>Business strategies include Industry 4.0 and roadmaps have been outlined. However, long-term action plans are ill-defined.</td>
                        <td>Business strategies include Industry 4.0 and comprehensive roadmaps have been outlined with short-, medium- and long-term action plans clearly defined.</td>
                    </tr>
                </tbody>
            </table>
        </section><br><br>

        <section>
            <form action="/userSubmissionDataIntoTable" method="POST">
                <div>
                    <h1 style="background-color: red;">UNIQUE MATURITY CODE: {{ random_text }}</h1>
                    <input type="hidden" class="input_user" name="Unique_code_from_User" value="{{ random_text }}">
                </div><br><br>
                <div class="dashboard_main_admin_record" style="background-color: black;">
                    <!-- To generate a unique code  -->
                    {% if sector_data %}
                    <table>
                        <thead>
                            <tr>
                                <th>SUB CATEGORY</th>
                                <th>As-Is QUESTIONS</th>
                                <th>As-Is Answers</th>
                                <th>To-Be QUESTIONS</th>
                                <th>To-Be Answers</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for row in sector_data %}
                            <tr>
                                <input type="hidden" name="business_function_user[]" value="{{ row[0] }}">
                                <input type="hidden" name="Measuring_element_user[]" value="{{ row[1] }}" class="input_user">
                                <input type="hidden" name="Rting_User[]" value="{{ row[2] }}" class="input_user">
                                <td>{{ row[3] }}</td>
                                <input type="hidden" name="sub_category_for_user[]" value="{{ row[3] }}">
                                <td>{{ row[4] }}</td>
                                <input type="hidden" name="questions_user[]" value="{{ row[4] }}" class="input_user">
                                <td>
                                    <select name="UserAnswerRatingAsIs[]" class="input_user">
                                        <option class="input_user" value="SelectanswerToBe" disabled selected>Select answer "As-Is"</option>
                                        <option class="input_user" value="1">Basic</option>
                                        <option class="input_user" value="2">Reactive</option>
                                        <option class="input_user" value="3">Planned</option>
                                        <option class="input_user" value="4">Proactive</option>
                                        <option class="input_user" value="5">Resilient</option>
                                    </select>
                                </td>
                                <td>{{ row[5] }}</td>
                                <td>
                                    <select name="UserAnswerRatingToBe[]" class="input_user">
                                        <option class="input_user" value="SelectanswerToBe" disabled selected>Select answer "To-Be"</option>
                                        <option class="input_user" value="1">Basic</option>
                                        <option class="input_user" value="2">Reactive</option>
                                        <option class="input_user" value="3">Planned</option>
                                        <option class="input_user" value="4">Proactive</option>
                                        <option class="input_user" value="5">Resilient</option>
                                    </select>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% endif %}
                </div>
                {% if error_display_asistobe %}
                <p class="error">{{ error_display_asistobe }}</p>
                {% endif %}
                <button class="submit-btn">SUBMIT ANSWERS</button>
            </form>
        </section>
        <section>
            <div class="">
             {% for bf, data in business_data.items() %}
             <h3 style="color: white;">{{ bf }}</h3>
             <table style="background-color: black;">
                 <thead>
                     <tr>
                         <th>Measuring Element</th>
                         <th>Percentage As Is</th>
                         <th>Percentage To Be</th>
                         <th>Feedback As Is</th>
                         <th>Feedback To Be</th>
                         <th>Growth Rate</th>
                         <th>Duration</th>
                     </tr>
                 </thead>
                 <tbody>
                     {% for measuring_elt_user, percent_maturity_as_is, percent_maturity_to_be, feedback_as_is, feedback_to_be, growth_rate, time_to_grow in data %}
                     <tr>
                         <td>{{ measuring_elt_user }}</td>
                         <td>{{ percent_maturity_as_is }}%</td>
                         <td>{{ percent_maturity_to_be }}%</td>
                         <td>{{ feedback_as_is }}</td>
                         <td>{{ feedback_to_be }}</td>
                         <td>{{ growth_rate }}</td>
                         <td>{{ time_to_grow }}</td>
                     </tr>
                     {% endfor %}
                 </tbody>
             </table>
             {% endfor %}
            </div>
         </section>

        <section>
            <!-- This section displays the plots -->
            <div style="background-color: black;">
                <div>
                    <h1>Business Function Analysis</h1>
                    {% for image in plot_images %}
                    <img src="data:image/png;base64,{{ image }}" alt="Business Function Plot">
                    {% endfor %}
                </div>
            </div>
        </section>
    </main>
</body>

</html>
