<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DM | Welcome</title>
    <link href="/static/css/style.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/static/images/JBS-retina-copy.png.webp">
    <script src="/static/js/code.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
</head>

<body x-data="AutomatedDigitalMaturity" x-cloak>
    <main class="container">

        <section>
            ,<div class="dashboard_main_admin">
                <h1 class="item"><a href="/select_business_sector_user"  class="item"
                        style="float: right;">USER CONTROL PANEL</a></h1>
                <button class="create_user" x-on:click="openUserAccount('displayed_tiers_per_business_sector')">ENTER
                    UNIQUE CODE</button>
                <button class="create_user" x-on:click="openUserAccount('user_instructions')">INSTRUCTIONS</button>
                <a href="/logout" class="item" style="float: right;">SIGN OUT</a>
            </div>
        </section><br>

        <section>
            <div class="userAccountParent">


                <div class="userAccount_left">
                    <P>Information about the business analyst will come here</P>


                </div>
                <div class="userAccount_middle">

                    <!-- maturity feedback section  -->

                    <div x-show="displayed_tiers_per_business_sector">

                        <form action="/submit_code" method="POST">

                            <h1>UNIQUE CODE:</h1>

                            <input type="text" class="input" name="unique_code_user"
                                placeholder="Please enter yor unique maturity code" value="">

                            <button type="submit" class="submit-btn">SUBMIT CODE</button>



                        </form><br><br><br>



                    </div>

                    <div x-show="user_instructions">

                        <br><br>
                        <table class="item">
                            <tr>
                                <td>S/N</td>
                                <td>ACTION</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>SELECT AND SUBMIT A BUSINESS SECTOR</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>COPY AND SAVE YOUR UNIQUE CODE</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>ANSWER THE "AS IS" AND "TO BE"</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>SUBMIT THE ANSWERS</td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>CLICK ON THE "ENTER UNIQUE CODE BUTTON"</td>
                            </tr>

                            <tr>
                                <td>6</td>
                                <td>ENTER AND SUBMIT THE COPIED UNIQUE CODE IN THE TEXT FIELD</td>
                            </tr>

                            <tr>
                                <td>7</td>
                                <td>CLICK ON THE "VIEW FEEDBACK ANALYSIS"</td>
                            </tr>
                        </table>
                        <br><br>

                        <a href="/select_business_sector_user" class="item" style="float: right;">GET STARTED</a>





                    </div>

                    <div x-show="select_your_business_sector">
                        <h1 class="item">NEW DEFAULT START PAGE</h1><br><br>

                        <form action="/select_business_sector_user" method="post">
                            <select name="business_sector_user" class="input">
                                <option value="" disabled selected>Select a business sector</option>
                                <option value="MINING">MINING</option>
                                <option value="ENERGY">ENERGY</option>
                                <option value="FINANCE">FINANCE</option>
                                <option value="EDUCATION">EDUCATION</option>
                                <option value="IT">IT</option>
                            </select>
                            <button type="submit" class="submit-btn">Submit</button>
                        </form>
                        <div>
                            {% if BusinessError %}
                            <p class="error">{{ BusinessError }}</p>
                            {% endif %}
                        </div>

                        <div>
                            {% if error_message %}
                            <p class="error">{{ error_message }}</p>
                            {% endif %}

                        </div>

                        <div>
                            {% if error_display_asistobe %}
                            <p class="error">{{ error_display_asistobe }}</p>
                            {% endif %}

                        </div>




                        <button type="submit" class="submit-btn"
                            x-on:click="view_maturity_analysis=!view_maturity_analysis">VIEW FEEDBACK ANALYSIS</button>
                        <div x-show="view_maturity_analysis">
                            <h1 class="item">MATURITY ANALYSIS RESULTS</h1>
                            <table border="1" style="background-color: black;">
                                <thead>
                                    <tr>
                                        <th>MEASURING ELEMENT</th>
                                        <th>OTHER COMPANIES</th>
                                        <th>MATURITY "AS IS"</th>
                                        <th>% "AS IS"</th>
                                        <th>MATURITY "TO BE"</th>
                                        <th>% "TO BE"</th>
                                        <th>GROWTH RATE</th>
                                        <th>DURATION</th>
                                        <th>FEEDBACK "AS IS"</th>
                                        <th>FEEDBACK "TO BE"</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for i in range(user_records|length) %}
                                    <tr>
                                        <td>{{ user_records[i][0] }}</td>
                                        <td>{{ user_records[i][1] }}</td>
                                        <td>{{ user_records[i][2] }}</td>
                                        <td>{{ percentages[i] }}</td>
                                        <td>{{ user_records[i][3] }}</td>
                                        <td>{{ percenTobe[i] }}</td>
                                        <td>{{ growth_rate[i] }}</td>
                                        <td>{{ duration[i] }}</td>
                                        <td>{{ feedback_messages[user_records[i][0]][0] }}</td>
                                        <!-- Feedback message for 'AS IS' -->
                                        <td>{{ feedback_messages[user_records[i][0]][1] }}</td>
                                        <!-- Feedback message for 'TO BE' -->
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>

                            <div>
                                <h1 class="item">GRAPHICAL DISPLAY</h1>
                                <img src="data:image/png;base64,{{ plot }}" alt="Plot">
                            </div>

                            <div class="item">

                                <img src="data:image/png;base64,{{ growth_curve_plot }}">
                            </div>
                        </div>



                    </div><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

                    {% if data %}

                    <form action="/userSubmissionDataIntoTable" method="POST">

                        <div>

                            <h1 style="background-color: black;">UNIQUE MATURITY CODE: {{ random_text }}</h1>

                            <input type="hidden" class="input_user" name="Unique_code_from_User"
                                placeholder="Please enter yor unique maturity code here before answering the questions"
                                value="{{ random_text }}">


                        </div><br><br>

                        <div>
                            <table style="background-color: black;">
                                <th>
                                    <tr>

                                        <td>Basic</td>
                                        <td>Reactive</td>
                                        <td>Planned</td>
                                        <td>Proactive</td>
                                        <td>Resilent</td>
                                    </tr>

                                </th>
                                <tbody>
                                    <tr>

                                        <td>An organisation's business strategies do not include Industry 4.0 and no
                                            roadmaps have been outlined.</td>
                                        <td>Business strategies include Industry 4.0, but no roadmaps have been outlined
                                        </td>
                                        <td>Business strategies include Industry 4.0 and roadmaps have been outlined.
                                            However, there are no action plans towards implementation.</td>
                                        <td>Business strategies include Industry 4.0 and roadmaps have been outlined.
                                            However, long-term action plans are ill-defined. </td>
                                        <td>Business strategies include Industry 4.0 and comprehensive roadmaps have
                                            been outlined with short-, medium- and long-term action plans clearly
                                            defined.</td>
                                    </tr>

                                </tbody>

                            </table>

                        </div>
                        <table border="1" style="background-color: black;" class="item">
                            <thead>
                                <tr>
                                    <th>MEASURING ELEMENT</th>
                                    <th>RATING</th>
                                    <th>SUB-CATEGORY</th>
                                    <th>QUESTIONS</th>
                                    <th>CURRENT STATE(AS IS) ANSWERS</th>
                                    <th>EXPECTED STATE(TO BE) ANSWERS</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for row in data %}
                                <tr>
                                    <td>{{ row[0] }}</td>
                                    <td>{{ row[1] }}</td>
                                    <td>{{ row[2] }}</td>
                                    <td>{{ row[3] }}</td>
                                    <td>
                                        <input type="hidden" name="Measuring_element_user[]" value="{{ row[0] }}"
                                            class="input_user">
                                        <input type="hidden" name="Rting_User[]" value="{{ row[1] }}"
                                            class="input_user">
                                        <input type="hidden" name="sub_category_for_user[]" value="{{ row[2] }}">
                                        <input type="hidden" name="questions_user[]" value="{{ row[3] }}"
                                            class="input_user">
                                        <select name="UserAnswerRating[]" class="input_user" class="input_user">
                                            <option class="input_user" value="Selectanswer" disabled selected>Select
                                                answer "As Is"</option>
                                            <option class="input_user" value="1">Basic</option>
                                            <option class="input_user" value="2">Reactive</option>
                                            <option class="input_user" value="3">Planned</option>
                                            <option class="input_user" value="4">Proactive</option>
                                            <option class="input_user" value="5">Resilent</option>
                                        </select>
                                    <td>
                                        <select name="UserAnswerRatingToBe[]" class="input_user">
                                            <option class="input_user" value="SelectanswerToBe" disabled selected>
                                                Select answer "To Be"</option>
                                            <option class="input_user" value="1">Basic</option>
                                            <option class="input_user" value="2">Reactive</option>
                                            <option class="input_user" value="3">Planned</option>
                                            <option class="input_user" value="4">Proactive</option>
                                            <option class="input_user" value="5">Resilent</option>
                                        </select>
                                    </td>

                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>


                        <button class="submit-btn">SUBMIT ANSWERS</button>
                        {% else %}

                        {% endif %}
                    </form>

                </div>
            </div>
        </section>

        <section>
            <div style="background-color: black;" x-show="displayed_tiers_per_business_sector">

            </div>

        </section>
    </main>
</body>

</html>