<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DM | Welcome</title>
    <link href="/static/css/style.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/static/images/JBS-retina-copy.png.webp">
    <script src="/static/js/code.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
</head>

<body x-data="AutomatedDigitalMaturity" x-cloak>
    <main class="container">

        <section>
            ,<div class="dashboard_main_admin">
                <h1 class="item"><a href="" x-on:click="openUserAccount('select_your_business_sector')" class="item"
                        style="float: right;">USER CONTROL PANEL</a></h1>
                <button class="create_user" x-on:click="openUserAccount('displayed_tiers_per_business_sector')">ENTER UNIQUE CODE</button>
                <a href="/logout" class="item" style="float: right;">SIGN OUT</a>
            </div>
        </section><br>

        <section>
            <div class="userAccountParent">


                <div class="userAccount_left">
                    <P>Information about the business analyst will come here</P>


                </div>
                <div class="userAccount_middle">

                    <!-- maturity feedback section  -->

                    <div x-show="displayed_tiers_per_business_sector">

                        <form action="/submit_code" method="POST">

                            <h1>UNIQUE CODE:</h1>

                            <input type="text" class="input" name="unique_code_user"
                                placeholder="Please enter yor unique maturity code" value="">

                            <button type="submit" class="submit-btn">SUBMIT CODE</button>

                        </form><br><br><br>

<!-- 
                        <table border="1" style="background-color: black;">
                            <thead>
                                <tr>
                                    <th>MEASURING ELEMENT</th>
                                    <th>EXPECTED CUM SUM</th>
                                    <th>CUM CUM SUM</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for user_records in user_records %}
                                <tr>
                                    <td>{{ user_records[0] }}</td>
                                    <td>{{ user_records[1] }}</td>
                                    <td>{{ user_records[2] }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table> -->








                    </div>

                    <div x-show="select_your_business_sector">
                        <h1 class="item">NEW DEFAULT START PAGE</h1><br><br>

                        <form action="/select_business_sector_user" method="post">
                            <select name="business_sector_user" class="input">
                                <option value="" disabled selected>Select a business sector</option>
                                <option value="MINING">MINING</option>
                                <option value="ENERGY">ENERGY</option>
                                <option value="FINANCE">FINANCE</option>
                                <option value="EDUCATION">EDUCATION</option>
                                <option value="IT">IT</option>
                            </select>
                            <button type="submit" class="submit-btn">Submit</button>
                        </form>

                        <h1>MATURITY ANALYSIS RESULTS</h1>

                        <div>
                            <table border="1" style="background-color: black;">
                                <thead>
                                    <tr>
                                        <th>MEASURING ELEMENT</th>
                                        <th>EXPECTED MATURITY LEVEL</th>
                                        <th>CURRENT MATURITY LEVEL</th>
                                        <th>% CURRENT LEVEL</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for i in range(user_records|length) %}
                                    <tr>
                                        <td>{{ user_records[i][0] }}</td>
                                        <td>{{ user_records[i][1] }}</td>
                                        <td>{{ user_records[i][2] }}</td>
                                        <td>{{ percentages[i] }}</td> <!-- Display the percentage value here -->
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>

                        <div>
                            <h1 class="item">GRAPHICAL DISPLAY</h1>
                            <img src="data:image/png;base64,{{ plot }}" alt="Plot">
                        </div>

                    </div><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>




                    <form action="/userSubmissionDataIntoTable" method="POST">

                        <div>

                            <h1 style="background-color: black;">UNIQUE MATURITY CODE: {{ random_text }}</h1>

                            <input type="hidden" class="input_user" name="Unique_code_from_User"
                                placeholder="Please enter yor unique maturity code here before answering the questions"
                                value="{{ random_text }}">


                        </div><br><br>

                        {% if data %}
                        <table border="1" style="background-color: black;">
                            <thead>
                                <tr>
                                    <th>MEASURING ELEMENT</th>
                                    <th>RATING</th>
                                    <th>SUB-CATEGORY</th>
                                    <th>QUESTIONS</th>
                                    <th>ANSWERS</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for row in data %}
                                <tr>
                                    <td>{{ row[0] }}</td>
                                    <td>{{ row[1] }}</td>
                                    <td>{{ row[2] }}</td>
                                    <td>{{ row[3] }}</td>
                                    <td>
                                        <input type="hidden" name="Measuring_element_user[]" value="{{ row[0] }}">
                                        <input type="hidden" name="Rting_User[]" value="{{ row[1] }}">
                                        <input type="hidden" name="sub_category_for_user[]" value="{{ row[2] }}">
                                        <input type="hidden" name="questions_user[]" value="{{ row[3] }}">
                                        <select name="UserAnswerRating[]" class="input">
                                            <option value="Selectanswer" disabled selected>Please choose an
                                                answer</option>
                                            <option value="1">Basic</option>
                                            <option value="2">Reactive</option>
                                            <option value="3">Planned</option>
                                            <option value="4">Proactive</option>
                                            <option value="5">Resilent</option>
                                        </select>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <button class="submit-btn">SUBMIT</button>
                        {% else %}
                        <p>No data available for the selected sector.</p>
                        {% endif %}
                    </form>

                </div>
            </div>
        </section>

        <section>
            <div style="background-color: black;" x-show="displayed_tiers_per_business_sector">

            </div>

        </section>
    </main>
</body>

</html>